<h1>Confirmation du contenu du tweet</h1>
<div class="content-tweet"> 
    <p> Contenu: <%= @post.content %> </p>       
</div>

<%= form_with(model: @post, local: true , url: posts_path) do |form| %>
    <%= form.hidden_field :content %>  
  <br>
    <%= form.submit  "Enregistrer" %>
    <%= form.submit  "Retour" , name: 'Retour' %>
<% end %>